contourpy==1.0.7
cycler==0.11.0
-e git+git@github.com:JakubFara/fileplot.git@528c432ee26311ee65e6897478e1dbe841a9a6c0#egg=fileplot
fonttools==4.39.3
importlib-resources==5.12.0
kiwisolver==1.4.4
matplotlib==3.7.1
numpy==1.24.3
packaging==23.1
Pillow==9.5.0
pyparsing==3.0.9
python-dateutil==2.8.2
SciencePlots==2.0.1
six==1.16.0
zipp==3.15.0
